* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  text-align: center;
  line-height: 1.6cm;
  font-family: "Courier New", Courier, monospace;
}

img {
  margin: 10px;
}

.title {
  color: goldenrod;
  background-color: antiquewhite;
}
